{% extends 'app/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6 text-center">
            <h3 class="alert-heading text-success mb-3">Well Done!</h3>
            <p class="lead">
                An email has been sent with instructions to reset your password. <br>
                <b>Please check your inbox.</b>
            </p>
        </div>
    </div>
</div>
<br>
{% endblock main-content %}
