{% extends 'app/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row justify-content-center text-center">
        <div class="col-sm-8 col-md-6">
            <h3 class="text-success mb-3">Reset Password Completed!!</h3>
            <hr>

            <div class="my-4">
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk"
                        width="200"
                        height="200"
                        frameborder="0"
                        class="giphy-embed rounded-circle shadow"
                        allowfullscreen>
                </iframe>
            </div>

            <p class="lead text-secondary">
                Your password has been successfully reset. <br>
                You can now log in with your new credentials.
            </p>

            <a href="{% url 'login' %}" class="btn btn-primary mt-3">Return to Login</a>
        </div>
    </div>
</div>
<br>
{% endblock main-content %}
