.goodnessseccont img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    margin: 0 auto;
}

.goodnesssec{
    padding: 30px 15px;
    border:1px solid #efe8e1;
    background-color:#fff;
    transition: box-shadow .2s ease;
    min-height: 260px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.goodnesssec:hover{
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.ghee{
    background-image: linear-gradient(#fff7ef,#fff);
    background-image: -webkit-linear-gradient(#fff7ef,#fff);
    background-image: -moz-linear-gradient(#fff7ef,#fff);

}
.curd{
    background-image: linear-gradient(rgba(110,69,143,0.1),#fff);
    background-image: -webkit-linear-gradient(rgba(110,69,143,0.1),#fff);
    background-image: -moz-linear-gradient(rgba(110,69,143,0.1),#fff);
}
.kulfi{
    background-image: linear-gradient(#fff7ef,#fff);
    background-image: -webkit-linear-gradient(#fff7ef,#fff);
    background-image: -moz-linear-gradient(#fff7ef,#fff);

}


.mlkpro{
    color: #636362;
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    text-align: center;
}

